body{
	margin-top: 20px;
	box-shadow: 10px 10px 5px #888888;
}
header img{
	height: 50%;
	width: 50%;
}

@media print {
	.noprint { display: none !important; }	
}

.nodisplay{
	display: none;
}

.display: {
	display: block;
}

table.cpanel td {
    text-align: center;
}

.bootstrap * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.add:hover,.cut:hover { text-decoration: none; }
