/*start of greek*/
.invoicegr::before{
	content:"Τιμολόγιο " !important;
}
.dategr::before{
	content:"Ημερομηνία " !important;
}
.amountgr::before{
	content:"Ποσό" !important;
}
.itemgr::before{
	content:"Στοιχείο" !important;
}
.descriptiongr::before{
	content:"Περιγραφή" !important;
}
.rategr::before{
	content:"Επιτόκιο" !important;
}
.quantitygr::before{
	content:"Ποσότητα" !important;
}
.pricegr::before{
	content:"Τιμή" !important;
}
.subtotalgr::before{
	content:"Υποσύνολο" !important;
}
.taxgr::before{
	content:"ΦΠΑ " !important;
}
.totalgr::before{
	content:"Σύνολο" !important;
}
/*end of greek*/


/*start of english*/
.invoice::before{
	content:"Invoice " !important;
}
.date::before{
	content:"Date" !important;
}
.amount::before{
	content:"Amount" !important;
}
.item::before{
	content:"Item" !important;
}
.description::before{
	content:"Description" !important;
}
.rate::before{
	content:"Rate" !important;
}
.quantity::before{
	content:"Quantity" !important;
}
.price::before{
	content:"Price" !important;
}
.subtotal::before{
	content:"Subtotal" !important;
}
.tax::before{
	content:"TAX " !important;
}
.total::before{
	content:"Total" !important;
}
/*end of english*/